# API
API_PATH=/v1/product
PORT=9080
DEBUG=mati-arqsw:*

# Google Calendar service account
GOOGLE_CALENDAR_ID=your-calendar-id@example.com
GOOGLE_SERVICE_ACCOUNT_EMAIL=calendar-service@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nREPLACE_WITH_YOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
